*,
*:hover,
*:focus
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fa8420;
}

.main-title {
  margin-top: 2rem;
  font-size: 2.4rem;
  text-transform: uppercase;
  line-height: 1.6;
}

h1, h2 {
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.6rem;
}


.items {
  margin: 1.2rem;
  font-size: 1.6rem;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.description {
  font-size: 1.2rem;
  text-align: center;
  margin: 1rem;
}